* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #be91c6;
  color: white;
}
@font-face {
  font-family: "Font";
  src: local("Font"), url("font.ttf");
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: start;
  justify-items: end;
  margin: 20px;
  font-family: Font;
}

.container h1 {
  margin: 10px 0;
  width: 300px;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-increment,
.btn-decrement,
.btn-reset {
  transition: transform 0.5s;
}

.btn-increment:hover,
.btn-decrement:hover,
.btn-reset:hover {
  transform: scale(1.1);
}

.btn-increment,
.btn-decrement,
.btn-reset {
  height: 50px;
  width: 120px;
  padding: 0 0px;
  border-radius: 10px;
  font-size: 24px;
  font-family: Font;
  background-color: #5e30d9;
  border: 5px solid #5e30d9;
  color: white;
  cursor: pointer;
}

.btn-reset {
  font-size: 20px;
  font-family: Font;
}

.counter-value {
  height: 50px;
  min-width: 120px;
  border-radius: 10px;
  background-color: #5e30d9;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Font;
  color: white;
}
#escrr {
  display: grid;
  grid-template-columns: auto;
}
#esc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#escc {
  font-size: 30px;
  margin: 10px 0;
  font-family: Font;
}
#rr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#rra {
  font-size: 30px;
  margin: 10px 0;
  font-family: Font;
  font-style: bold;
}
#theme {
  position: absolute;
  bottom: 30px;
  right: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.theme-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(stylesimg/solar.ico);
  background-color: transparent;
  background-size: cover;
  margin-bottom: 5px;
}

.center-toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(stylesimg/index-light.ico);
  background-color: transparent;
  background-size: cover;
  margin-bottom: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.center-toggle1 {
  width: 40px;
  height: 40px;
  border: none;
  background-image: url(stylesimg/center-light.ico);
  background-color: transparent;
  background-size: cover;
  margin-bottom: 5px;
}
#winter-toggle {
  background-image: url(stylesimg/vesna-lighton.ico);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: cover;
  margin-bottom: 5px;
}

#winter-toggle.on {
  background-image: url(stylesimg/vesna-lightoff.ico);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: cover;
  margin-bottom: 5px;
}

#winter-toggle,
#theme-toggle,
#center-toggle,
#center-toggle1 {
  transition: transform 0.5s;
}

#winter-toggle:hover,
#theme-toggle:hover,
#center-toggle:hover,
#center-toggle1:hover {
  transform: scale(1.1);
}

#eearningsValue {
  margin-top: 5px;
}
#escalationCostInput,
#callCostInput {
  width: 40px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

#escalationCostInput:focus,
#callCostInput:focus {
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.5);
}
#stars-container {
  display: none;
}
.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.snowman {
  background: transparent url(stylesimg/campfire.gif) no-repeat scroll right top /
    400px auto;
  bottom: 20px;
  display: block;
  height: 400px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: -1;
  margin: 0 auto; /* Резервный вариант для старых браузеров */
}
