* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body.dark-theme {
    background: rgb(45, 44, 44);
    color: white;
}
@font-face {
	font-family: 'Font'; 
	src: local('Font'),
		url("font.ttf"); 
}
.snowman {
  background: transparent url(snowman.gif) no-repeat scroll right top / 200px auto;
  bottom: -70px;
  display: block;
  height: 250px;
  position: fixed;
  right: 3%;
  width: 300px;
  z-index: 1;
}
.snow-layer {
  background: transparent url(snow.png) repeat-x scroll center top / auto 40px;
  bottom: 0;
  display: block;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 1024px){
.snowman, .snow-layer {display: none;}
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  align-items: start;
  justify-items: end;
  margin: 20px;
  font-family: Font;
}

.container h1 {
  margin: 10px 0;
  width: 300px;
}

.counter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-increment,
.btn-decrement,
.btn-reset {
  height: 50px;
  width: 120px;
  padding: 0 0px;
  border-radius: 10px;
  font-size: 24px;
  font-family: Font;
  background-color: #000000;
  border: 2px solid #000000;
  color: white;
  cursor: pointer;
}

.btn-reset {
  font-size: 20px;
  font-family: Font;
}

.counter-value {
  height: 50px;
  min-width: 120px;
  border-radius: 10px;
  background-color: rgba(0, 191, 255, 0.187);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Font;
}
#escrr {
  display: grid;
  grid-template-columns: auto;

}
#esc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#escc {
  font-size: 30px;
  margin: 10px 0;
  font-family: Font;
}
#rr {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

#rra {
  font-size: 30px;
  margin: 10px 0;
  font-family: Font;
  font-style: bold;
}
#theme {
  margin-top: 75px;
  margin-left: 25px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#theme-toggle {
  display: flex;
  margin-left: 15px;
  font-size: 0.65cm;
  background-color: rgb(45, 44, 44);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

#theme-toggle:hover {
  background-color: #ff0000;
  color: #ffffff;
}

#eearningsValue {
  margin-top: 5px;

}
#escalationCostInput,
#callCostInput {
  width: 40px;
  height: 20px;
  padding: 10px;
  margin: 5PX;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

#escalationCostInput:focus,
#callCostInput:focus {
  box-shadow: 0 0 15px rgba(0,0,255,0.5);
}

#winter-toggle {
  display: flex;
  background-color: rgb(45, 44, 44);
  color: #ffffff;
  font-size: 0.7cm;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}
#winter-toggle:hover {
  background-color: #ff0000;
  color: #ffffff;
}
